<div class="content-vehicle">
  <form #f="ngForm" (ngSubmit)="addVehicle(f)" class="form">
      <div class="form-group">
          <label for="licensePlate" class="control-label">License Plate: </label>
          <input type="text" class="form-control" required pattern="^([0-9]{2}-[A-Za-z]{2}-[0-9]{2})?$" name="licensePlate" id="licensePlate" placeholder="99-XX-99" [ngModel] = "vehicle.licensePlate" #license="ngModel">
      </div>
      <div class="form-group">
          <label for="class" class="control-label">Class: </label>
          <input type="text" class="form-control" name="class" id="class" placeholder="Class" [ngModel] = "vehicle.class">
      </div>
      <div class="form-group">
          <label for="fuelType" class="control-label">Fuel Type: </label>
          <input type="text" class="form-control" name="fuelType" id="fuelType" placeholder="Fuel Type" [ngModel]="vehicle.fuelType">
      </div>
      <div class="form-group">
          <label for="odometer" class="control-label">Odometer: </label>
          <input type="text" class="form-control" name="odometer" id="odometer" placeholder="Odometer" [ngModel]="vehicle.odometer">
      </div>
      <div class="add" *ngIf="!license.invalid">
          <button type="addList" class="add-btn">Add</button>
      </div>
  </form>
</div>
<div class="submit">
  <button type="submit" class="submit-btn" (click)="submit()">Submit</button>
</div>
<div *ngIf="license.invalid && (license.dirty || license.touched)">

  <div *ngIf="license.errors.required">
    <p>License Plate is required.</p>
  </div>
  <div *ngIf="license.errors.pattern">
  <p>License must have the correct format, ex: 99-XX-99</p>
  </div>
